/* match.module.css */

.container {
    text-align: center;
    margin-top: 20px;
  }
  
  .tossContainer {
    margin-top: 20px;
    text-align: center;
  }
  
  .tossButton {
    font-size: 30px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tossResult {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .matchTitle {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .margin-top {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 250px;
  }
  